{# src/DC/HomeBundle/Resources/views/Default/index.html.twig #}

<html>
    <body>
        Welcome to BookYourWashing <br>

        <a href="#"> Sign in </a>
        <a href="#"> Log in </a>
    </body>
</html>